.card {
}

.input {
  width: 100%;
  overflow: hidden;
  border: none;
  color: white;
  background-color: transparent;
  caret-color: transparent;
  outline: 0;
  position: absolute;
  height: 1px;
  font-size: 2px;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
